h1{
  text-align: center;
}

form {
    padding: 300px;
    padding-top: 10px;
}



.container {
        padding: 40px;
        background-color: lightblue;
    }

body{
    background-image: url("../img/blurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button:hover {
        opacity: 0.4;
    }

button {
       background-color: #4CAF50;
        width: 50%;
        color: black;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
         }

input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px blue;
        box-sizing: border-box;
    }
