.logout button
{
  display: block;
  width: 5%;
}

.courses aside
{
  display: inline-block;
  width: 30%;
  float: left;
}

.student-details table
{
  display: inline-block;
  width = 60%;
  float: right;

}
